<!DOCTYPE html>
<html>
    <head>
        <title>Muinde's blog</title>
    </head>
<body>
    <header>
        <h1><a href="/"><em>Nathan Drake</em></a></h1>
    </header>
    {% for post in posts %}
        <article>
            <time>published: {{ post.published_date }}</time>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
    <h2><strong>A single step</strong></h2>
    <h3>Uncharted</h3>
    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>