<!DOCTYPE html>
<html>
    <head>
        <title>Muinde's blog</title>
    </head>
<body>
    <header>
        <h1><a href="/"><em>Nathan Drake</em></a></h1>
    </header>

    <article>
        <time>published: 03.08.2024, 12:14</time>
        <h2><a href="">My numero uno post</a></h2>
        <p>Great journeys often have humble beginnings.</p>
    </article>
    <article>
        <time>published: 03.08.2024, 13:10</time>
        <h2><a href="">My numero dos post</a></h2>
        <p>The spirit of adventure.</p>
    </article>
    <h2><strong>A single step</strong></h2>
    <h3>Uncharted</h3>
    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>